# Build results and output directories
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Packages and Dependencies
**/packages/
**/node_modules/
**/bower_components/

# User-specific files for Visual Studio
*.suo
*.user
*.userprefs

# Hidden file storage for VS Code/Visual Studio
.vs/

# Resharper/Rider files
*.resharper
*.bak
*.ncb
*.pdb
*.orig
*.swp
*~

# Database files (local development databases)
*.mdf
*.ldf

# Test results
TestResults/
_ReSharper*/

.DS_Store # macOS
Thumbs.db # Windows